<analyzers>
    <analyzer category="Emergency" regex="Emergency: (.*)" vars="message">
        - $message
    </analyzer>
    
    <analyzer category="FailedLogin" regex="login (\w+) for (\w+@\w+.\w+)" vars="status|email">
        $email experienced a $status login
    </analyzer>
    
    <analyzer category="DebuggingNoise" regex="Debug: (.*)">
        Suppressed
    </analyzer>
</analyzers>
