<parsers>
    <parser name="DemoParser" type="SimpleParser">
        <logfiles>
            <logfile src="examples/sample.txt" />
        </logfiles>
        
        <analyzers>
            <analyzer name="timestamp" />
            <analyzer name="date-analyzer" />
            <analyzer name="emergency-analyzer" />
            <analyzer name="login-analyzer" />
            <analyzer name="noise-analyzer" />
        </analyzers>
    </parser>
</parsers>
