<analyzers>
    <analyzer name="timestamp" category="timestamp" regex="\[(\d+-\d+-\d+) \d+\:\d+\:\d+\]" vars="timestamp">
        $timestamp
    </analyzer>
    
    <analyzer name="date-analyzer" category="Date Range" regex="\[(\d+-\d+-\d+) \d+\:\d+\:\d+\]" vars="timestamp">
        Parsing records that occurred on $timestamp
    </analyzer>
    
    <analyzer name="emergency-analyzer" category="Emergency" regex="Emergency: (.*)" vars="message">
        - $message
    </analyzer>
    
    <analyzer name="login-analyzer" category="Failed Logins" regex="login (\w+) for (\w+@\w+.\w+)" vars="status|email">
        $email experienced a $status login
    </analyzer>
    
    <analyzer name="noise-analyzer" category="Debugging Noise" regex="Debug: (.*)">
        Suppressed
    </analyzer>
</analyzers>
