<parsers>
    <parser name="DemoParser" type="SimpleParser">
        <logfiles>
            <logfile src="/logs/sample_log.txt" />
        </logfiles>
        
        <analyzers>
            <analyzer category="Date Range" />
            <analyzer category="Emergency" />
            <analyzer category="Failed Logins" />
            <analyzer category="Debugging Noise" />
        </analyzers>
    </parser>
</parsers>
