<services>
    <service name="demo" title="Demo Diagnostics Report">
        <logfiles>
            <file src="examples/sample.txt" />
        </logfiles>
        
        <parsers>
            <parser name="DemoParser" />
        </parsers>
        
        <exports>
            <file src="src/test/resources/sample_out.txt" />
        </exports>
    </service>
</services>
